@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1722307974 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1722307974 .shape-fill {
    fill: #F0EBE1;
}

@media (min-width: 1200px) {
    .custom-shape-divider-bottom-1722307974 svg .shape-fill {
        d: path("M370 0L340 20 310 0 0 0 0 100 1200 100 1200 0 370 0z");
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .custom-shape-divider-bottom-1722307974 svg .shape-fill {
        d: path("M300 0L275 15 250 0 0 0 0 100 1200 100 1200 0 300 0z");
    }
}

@media (max-width: 767px) {
    .custom-shape-divider-bottom-1722307974 svg .shape-fill {
        d: path("M250 0L225 10 200 0 0 0 0 100 1200 100 1200 0 250 0z");
    }
}
