@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-amarillo
}

.nav-mobile{
    background-color: #911443;
}
.swiper-slide,
.swiper-container{
    width: 100vw !important;
    height: 100vh !important;
}
.swiper-pagination-bullet{
    height: 15px !important;
    width: 15px !important;
    border: 2px solid #911443 !important;
    background: none !important;
    opacity: 0.9 !important;
}
.swiper-pagination-bullet-active{
    background: #911443 !important;

}
