@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-amarillo
}

.nav-mobile{
    background-color: #911443;
}
.swiper-slide,
.swiper-container{
    width: 100vw !important;
    height: 100vh !important;
}
.swiper-pagination-bullet{
    height: 15px !important;
    width: 15px !important;
    border: 2px solid #911443 !important;
    background: none !important;
    opacity: 0.9 !important;
}
.swiper-pagination-bullet-active{
    background: #911443 !important;
}
@media only screen and (max-width: 600px) {
    .swiper-container{
        width: 100vw !important;
        height: 680px !important;
    }
}
.react-photo-album--row img{
    opacity: 1;
    transition: opacity .2s;
}
.react-photo-album--row img:hover{
    transform: scale(1.04); /* Aumenta el tamaño */
    transition: transform .2s; /* Suaviza la transición */
    opacity: 0.8;
}
@media (max-width: 376px){
    .thumbiglesias,
    .thumbcompiglesias{
        width: 150px;
        height: 150px;
    }
    .text-slider{
        left: 78px;
        font-size: 25px;
    }
}
@media (min-width: 377px) and (max-width: 430px){
    .text-slider{
        left: 90px;
        font-size: 27px;
    }
}
.mapboxgl-ctrl-attrib-inner{
    display: none;
}
.goog-te-gadget-simple{
    display: flex !important;
    margin-left: 10px;
    padding-top: 4px !important;
    background: transparent !important;
    border: 0 !important;
}
.VIpgJd-ZVi9od-xl07Ob-lTBxed{
    display: flex;
}